<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camp Now - Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="public/assets/css/startbootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/assets/css/startbootstrap/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="public/assets/css/startbootstrap/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Amatica+SC|Bowlby+One+SC|Carter+One|Diplomata+SC|Forum|Gravitas+One|Overlock|Permanent+Marker|Poiret+One|Rakkas|Sigmar+One"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="public/assets/css/style-contact.css">
    <!-- Custom CSS -->
    <link href="public/assets/css/startbootstrap/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="public/assets/css/startbootstra/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Amatica+SC|Bowlby+One+SC|Carter+One|Diplomata+SC|Forum|Gravitas+One|Overlock|Permanent+Marker|Poiret+One|Rakkas|Sigmar+One" rel="stylesheet">
</head>

<body>

{{{body}}}

<!-- jQuery -->
<script src="public/assets/js/startbootstrap/jquery.js"></script>

<!-- Register JS -->
<script src="public/assets/js/register.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="public/assets/js/startbootstrap/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<!-- Menu Toggle Script -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkDqVTglMKvWyAFsCHEUwXq8hDCdcOLeo&libraries=places&callback=initMap">
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script src="https://use.fontawesome.com/c09fe9cceb.js"></script>
<script src="public/assets/js/campground.js"></script>
</body>

</html>