.fatface {
    font-family: 'Abril Fatface', cursive;
}

.permanent {
    font-family: 'Permanent Marker', cursive;
}

.poiret {
    font-family: 'Poiret One', cursive;
}

.sigmar {
    font-family: 'Sigmar One', cursive;
}

.rakkas {
    font-family: 'Rakkas', cursive;
}

.overlock {
    font-family: 'Overlock', cursive;
}

.carter {
    font-family: 'Carter One', cursive;
}

.forum {
    font-family: 'Forum', cursive;
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.amatica {
    font-family: 'Amatica SC', cursive;
}

.turncoat {
    font-family: 'Walter Turncoat', cursive;
}

.patrick {
    font-family: 'Patrick Hand SC', cursive;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1A4A14;
}

main {
    margin-top: 50px;
}

#map {
    min-height: 600px;
    width: 100%;
}
#mapQuery {
    color: #9EC77B;
    width: 100%;
    height: 600px;
    padding: 0 10px 0 20px;
    line-height: 14px;
    font-family: 'Overlock', cursive;
}

option {
    text-align: center;
}
.radio input[type="radio"] {
    position: inherit;
    margin-right: 5px;
}

.formGroupLabel {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 18px;
    margin-bottom: 5px;
}

#searchHeader {
    border: none;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    color: #89DE7F;
}

#resultsTable h2 {
    font-family: 'Forum', cursive;
    color: #89DE7F;
}

#resultsTableBody h3 {
    font-family: 'Overlock', cursive;
    font-size: 14px;
    color: #9EC77B;
}

#resultsTableBody p {
    font-family: 'Overlock', cursive;
    font-size: 12px;
    color: #9EC77B;
}

#resultsTableBody td {
    font-family: 'Overlock', cursive;
    font-size: 14px;
    color: #9EC77B;
    max-width: 300px;
}

#resultsTableBody button{
    font-family: 'Overlock', cursive;
    height: 30px;
    margin: 15px;
    background-color: #9EC77B;
    color: white;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 2px;
}

#searchBtnGroup {
    margin-bottom: 0;
}

#resultsBtn {
    font-family: 'Overlock', cursive;
    background-color: #A07C9C;
    position: fixed;
    bottom: 0px;
    display: none;
    font-size: 16px;
    color: white;
    z-index:1000;
    text-align: center;
    font-weight:600;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: none;
}


#mapButton {
    color: white;
    background-color: #A5B076;
    font-family: 'Overlock', cursive;
    font-size: 16px;
}

#searchBtn {
    font-family: 'Overlock', cursive;
    float: left;
    margin-left: 20px;
    color: black;
    font-size: 16px;
    background-color: #F59B5B;
    border-color: #D2984E;
}

#resetBtn {
    font-family: 'Overlock', cursive;
    float: right;
    margin-right: 20px;
    color: black;
    font-size: 16px;
    background-color: #FF0000;
    border-color: #E82C0C;
}

/* UI 24 */
.ui-24{
    width:313px;
    height: 600px;
    background-color: #F6EBB4;
    box-shadow:0px 0px 1px rgba(0,0,0,0.5);
    position:absolute;
    left:-300px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    z-index:1000;
}

@media (max-width:400px){
    .ui-24{
        display:none;
    }
}
/* Button */
.ui-24  .ui-button button{
    padding:10px;
    top:50%;
    margin-top:-50px;
    left:284px;
    width:100px;
    display:block;
    z-index:1000;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position:absolute;
    text-align:center;
    /*color:#fff;*/
    /*font-size:14px;*/
    font-weight:600;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
/* UI Content */
.ui-24 .ui-content{
    /*text-align:center;*/
    /*padding:20px;*/
}

/* Heading */
.ui-24 .ui-content h5{
    text-transform:uppercase;
    font-size:12px;
}
.ui-24 .ui-content h5 a{
    color:#999;
}

