html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1A4A14;
}

main {
    margin-top: 50px;
}

#map {
    min-height: 600px;
    width: 100%;
}
#mapQuery {
    width: 100%;
    height: 600px;
    padding: 10px 10px 0 20px;
    line-height: 14px;
    font-family: 'Overlock', cursive;
}

option {
    text-align: center;
}
.radio input[type="radio"] {
    position: inherit;
    margin-right: 5px;
}

.formGroupLabel {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 18px;
    margin-bottom: 5px;
}

legend {
    text-align: center;
    border: none;
}

legend h2 {
    font-family: 'Permanent Marker', cursive;
}

.form-control {
    margin-bottom: 2px;
}

#searchBtnGroup {
    margin-bottom: 0;
}

#mapButton {
    background-color: #A5B076;
    font-family: 'Overlock', cursive;
    font-size: 16px;
}

#searchBtn {
    float: left;
    margin-left: 10px;
    background-color: #F59B5B;
    border-color: #D2984E;
}

#resetBtn {
    float: right;
    margin-right: 10px;
    background-color: #FF0000;
    border-color: #E82C0C;
}

/* UI 24 */
.ui-24{
    width:313px;
    height: 600px;
    background-color: white;
    box-shadow:0px 0px 1px rgba(0,0,0,0.5);
    position:absolute;
    left:-300px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    z-index:1000;
}

@media (max-width:400px){
    .ui-24{
        display:none;
    }
}
/* Button */
.ui-24  .ui-button a{
    padding:10px;
    top:50%;
    margin-top:-50px;
    left:285px;
    width:100px;
    display:block;
    z-index:1000;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position:absolute;
    text-align:center;
    color:#fff;
    font-size:14px;
    font-weight:600;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
/* UI Content */
.ui-24 .ui-content{
    /*text-align:center;*/
    /*padding:20px;*/
}

/* Heading */
.ui-24 .ui-content h5{
    text-transform:uppercase;
    font-size:12px;
}
.ui-24 .ui-content h5 a{
    color:#999;
}