.fatface {
    font-family: 'Abril Fatface', cursive;
}

.permanent {
    font-family: 'Permanent Marker', cursive;
}

.poiret {
    font-family: 'Poiret One', cursive;
}

.sigmar {
    font-family: 'Sigmar One', cursive;
}

.rakkas {
    font-family: 'Rakkas', cursive;
}

.overlock {
    font-family: 'Overlock', cursive;
}

.carter {
    font-family: 'Carter One', cursive;
}

.forum {
    font-family: 'Forum', cursive;
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.amatica {
    font-family: 'Amatica SC', cursive;
}

.contentDiv {
    background-color: #e7e7e7;
}