.fatface {
    font-family: 'Abril Fatface', cursive;
}

.permanent {
    font-family: 'Permanent Marker', cursive;
}

.poiret {
    font-family: 'Poiret One', cursive;
}

.sigmar {
    font-family: 'Sigmar One', cursive;
}

.rakkas {
    font-family: 'Rakkas', cursive;
}

.overlock {
    font-family: 'Overlock', cursive;
}

.carter {
    font-family: 'Carter One', cursive;
}

.forum {
    font-family: 'Forum', cursive;
}

.bowlby {
    font-family: 'Bowlby One SC', cursive;
}

.amatica {
    font-family: 'Amatica SC', cursive;
}

.contentDiv {
    background-color: #e7e7e7;
}

.content-section-a {
    color: black;

}

body {
	background-image: url("../images/background/camping-night-3.jpeg");
	background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: center, center;
    background-size: cover, cover;
    min-height: 500px;
    min-width: 500px;
	color: white;
}

button {
	color: black;
}